/* ---------------------------- Login ---------------------------- */



/* ----------------------------Desktop---------------------------- */


.login-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-formulario-desktop{
    display: flex;
    justify-content: center;
}

.login-formulario-caixa-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border-radius: 40px;
    width: 60%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.login-titulo-desktop {
    font-family: 'Roboto';
    font-size: 45px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
}

.login-form-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-form-caixa-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.login-form-label-desktop {
    font-family: 'Roboto';
    font-size: 20px;
    color: white;
}

.login-form-input-desktop {
    font-family: 'Roboto';
    font-size: 20px;
    width: 60%;
    text-align: center;
}

#login-form-fazer-desktop {
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
    border-radius: 40px;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.login-form-divisor-desktop {
    width: 60%;
    border-top: 3px solid #fff;
    margin-bottom: 25px;
}

.login-form-cadastro-desktop {
    font-family: 'Roboto';
    font-size: 20px;
    color: white;
    margin-bottom: 50px;
}


/* ----------------------------Tablet---------------------------- */

.login-tablet {
    display: none;
}


/* ----------------------------Smartphone---------------------------- */

.login-smartphone {
    display: none;
}



/**---------------------------- MEDIA QUERY ---------------------------- **/


@media screen and (min-width: 576px) and (max-width: 936px) {


    /** ----------------------------Login Tablet---------------------------- **/



    .login-tablet {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-formulario-tablet{
        display: flex;
        justify-content: center;
    }

    .login-formulario-caixa-tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        border-radius: 40px;
        width: 80%;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .login-titulo-tablet {
        font-family: 'Roboto';
        font-size: 40px;
        font-weight: 700;
        margin-top: 50px;
        margin-bottom: 30px;
        color: white;
    }

    .login-form-tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .login-form-caixa-tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .login-form-label-tablet {
        font-family: 'Roboto';
        font-size: 18px;
        color: white;
    }

    .login-form-input-tablet {
        font-family: 'Roboto';
        font-size: 18px;
        width: 80%;
        text-align: center;
    }

    #login-form-fazer-tablet {
        font-family: 'Roboto';
        font-size: 18px;
        text-align: center;
        border-radius: 40px;
        width: 60%;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .login-form-divisor-tablet {
        width: 80%;
        border-top: 3px solid #fff;
        margin-bottom: 25px;
    }

    .login-form-cadastro-tablet {
        font-family: 'Roboto';
        font-size: 18px;
        color: white;
        margin-bottom: 50px;
    }


    
    /* ----------------------------Desktop---------------------------- */

    .login-desktop {
        display: none;
    }


    /* ----------------------------Smartphone---------------------------- */

    .login-smartphone {
        display: none;
    }


}



@media screen and (min-width: 0px) and (max-width: 576px) {
   

    /** ----------------------------Login Smartphone---------------------------- **/

    .login-smartphone {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-formulario-smartphone {
        display: flex;
        justify-content: center;
    }

    .login-formulario-caixa-smartphone {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        border-radius: 40px;
        width: 100%;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .login-titulo-smartphone {
        font-family: 'Roboto';
        font-size: 35px;
        font-weight: 700;
        margin-top: 50px;
        margin-bottom: 30px;
        color: white;
    }

    .login-form-smartphone {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .login-form-caixa-smartphone {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .login-form-label-smartphone {
        font-family: 'Roboto';
        font-size: 16px;
        color: white;
    }

    .login-form-input-smartphone {
        font-family: 'Roboto';
        font-size: 16px;
        width: 80%;
        text-align: center;
    }

    #login-form-fazer-smartphone {
        font-family: 'Roboto';
        font-size: 16px;
        text-align: center;
        border-radius: 40px;
        width: 60%;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .login-form-divisor-smartphone {
        width: 80%;
        border-top: 3px solid #fff;
        margin-bottom: 25px;
    }

    .login-form-cadastro-smartphone {
        font-family: 'Roboto';
        font-size: 16px;
        color: white;
        margin-bottom: 50px;
    }
    

    /** ----------------------------Desktop---------------------------- **/
        
    .login-desktop {
        display: none;
    }

    /** ----------------------------tablet---------------------------- **/

    .login-tablet {
        display: none;
    }

}

