

<!-- -------------------------FOOTER------------------------- -->

        <!-- Desktop -->

        <!-- Desktop -->

        <footer class="rodape-desktop">
            <div class="container-grid">
                <div class="rodape-caixa">
                    <div class="rodape-esquerda">
                        <div class="rodape-esquerda-links">
                            <div class="rodape-esquerda-links-institucional">
                                <ul class="rodape-esquerda-links-lista"> <strong>Institucional</strong> <br><br>
                                    <li> <a routerLink="/quem-somos">quem somos</a> </li> 
                                    <li> <a routerLink="#">segurança e privacidade</a> </li> 
                                    <li> <a routerLink="#">nosso parceiros</a> </li> 
                                    <li> <a routerLink="/atendimento">fale conosco</a> </li>
                                </ul>
                            </div>
                            <div class="rodape-esquerda-links-informacoes">
                                <ul class="rodape-esquerda-links-lista"> <strong>Informações</strong> <br><br>
                                    <li> <a routerLink="#">rastrear pedidos</a> </li> 
                                    <li> <a routerLink="#">devoluções</a> </li> 
                                    <li> <a routerLink="#">frete</a> </li> 
                                    <li> <a routerLink="/duvidas">dúvidas</a> </li>
                                </ul>
                            </div>
                            <div class="rodape-esquerda-links-atendimento">
                                <ul class="rodape-esquerda-links-lista"> <strong>Atendimento</strong> <br><br>
                                    <li> Telefone: <br> (xx) xxxx-xxxx </li> 
                                    <li> WhatsApp: <br> (xx) xxxxx-xxxx </li> 
                                    <li> Email: <br> gamemania@email.com </li> 
                                    <li> Funcionamento: <br> todo dia: 8h-18h <br> feriados: 8h-12h </li> 
                                    <li> Localização: <br> Rua X número Y </li>
                                    <li> CEP: <br> XXXXXXX-XXX </li>
                                </ul>
                            </div>
                        </div>
                        <div class="rodape-esquerda-logo">
                            <img src="assets/img/Logo.png" alt="logo da game mania">
                        </div>

                    </div>
                    <div class="rodape-direita">
                        <div class="rodape-direita-redes-sociais">
                            <p class="rodape-direita-redes-sociais-texto">acompanhe-nos nas <br> redes sociais</p>
                            <img src="assets/img/Redes Sociais Rodape.svg" alt="">
                        </div>
                        <div class="rodape-direita-cartoes">
                            <img src="assets/img/Cartoes.png" alt="cartões que aceitamos">
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Tablet -->

        <footer class="rodape-tablet">
            <div class="container-grid">
                <div class="rodape-secao-tablet">
                    <div class="rodape-links-tablet">
                        <div class="rodape-links-esquerda-tablet">
                            <ul class="rodape-links-listas-tablet"> <strong>Institucional</strong> <br><br>
                            <li> <a class="rodapes-ancoras-tablet" routerLink="/quem-somos">quem somos</a> </li> 
                            <li> <a class="rodapes-ancoras-tablet" routerLink="#">segurança e privacidade</a> </li> 
                            <li> <a class="rodapes-ancoras-tablet" routerLink="#">nosso parceiros</a> </li> 
                            <li> <a class="rodapes-ancoras-tablet" routerLink="/atendimento">fale conosco</a> </li>
                            </ul>
                        </div>
                        
                        <div class="rodape-links-direita-tablet">
                            <ul class="rodape-links-listas-tablet"> <strong>Informações</strong> <br><br>
                            <li> <a class="rodapes-ancoras-tablet" routerLink="#">rastrear pedidos</a> </li> 
                            <li> <a class="rodapes-ancoras-tablet" routerLink="#">devoluções</a> </li> 
                            <li> <a class="rodapes-ancoras-tablet" routerLink="#">fretes</a> </li> 
                            <li> <a class="rodapes-ancoras-tablet" routerLink="/duvidas">dúvidas</a> </li>
                            </ul>
                        </div>
                        
                    </div>
                    <div class="rodape-imagens-tablet">
                        <div class="rodape-imagens-redes-sociais-tablet">
                            <p class="rodape-imagens-redes-sociais-texto-tablet">acompanhe-nos nas <br> redes sociais</p>
                            <div class="rodape-redes-sociais-imagem-tablet">
                                <img src="assets/img/Redes Sociais Rodape.svg" alt="redes sociais: facebook, instagram, youtube">
                            </div>
                        </div>
                        <img class="rodape-imagens-cartoes" src="assets/img/Cartoes Rodape tablet.png" alt="Cartões que aceitamos">
    
                    </div>
                    <img class="rodape-logo-tablet" src="assets/img/Logo Rodape Tablet.png" alt="logo game mania">
                </div>
            </div>
        </footer>


        <!-- Smartphone -->


        <footer class="rodape-smartphone">
            <div class="container-grid">
                <div class="rodape-caixa-smartphone">
                    <img class="rodape-cartoes-smartphone" src="assets/img/Cartoes Rodape Smartphone.png" alt="Cartões que aceitamos">
                    <div class="rodape-links-smartphone">
                        <a onclick="mostarInstitucionalSmartphone()"> <p>Institucional</p> </a>
                        <a onclick="mostarInformacoesSmartphone()"> <p>Informações</p> </a>
                    </div>
                    
                    <nav id="rodape-links-institucional-smartphone" class="rodape-nav-smartphone">
                        <a class="rodape-nav-links-smartphone link-1-smartphone" routerLink="quem-somos">Quem Somos</a>
                        <a class="rodape-nav-links-smartphone" routerLink="#">Segurança e Privacidade</a>
                        <a class="rodape-nav-links-smartphone" routerLink="#">Nossos Pareceiros</a>
                        <a class="rodape-nav-links-smartphone" routerLink="/atendimento">Fale Conosco</a>       
                    </nav>
                    
                    
                    <nav id="rodape-links-informacoes-smartphone" class="rodape-nav-smartphone">
                        <a class="rodape-nav-links-smartphone link-1-smartphone" routerLink="#">Rastrear Pedidos</a>
                        <a class="rodape-nav-links-smartphone" routerLink="#">Devoluções</a>
                        <a class="rodape-nav-links-smartphone" routerLink="#">Frete</a>
                        <a class="rodape-nav-links-smartphone" routerLink="/duvidas">Dúvidas</a>          
                    </nav>
                    
                    <div class="rodape-redes-sociais-smartphone">
                        <p>Redes Sociais</p>
                        <img src="assets/img/Redes Sociais Rodape Smartphone.png" alt="Redes Sociais">
                    </div>
                    <img class="rodape-logo-smartphone" src="assets/img/Logo Rodape Smartphone.png" alt="Logo da Game Mania">
                </div>
            </div>
        </footer>
