<!-- Desktop -->


<section class="quem-somos-desktop">
    <div class="container-grid quem-somos-caixa-desktop">
        <h1 class="quem-somos-titulo-desktop">quem somos</h1>
        <p class="quem-somos-texto-desktop">
            A nossa missão é inspirar e valorizar a paixão pela tecnologia, jogos, conteúdos, <br>
            entretenimento e inovação, causando uma emoção inédita, criando experiências <br>
            e prazeres. A visão da empresa é de ampliar o público-alvo e as nossas ações no <br>
            mundo gamer e tecnológico. Já os valores envolvem: ética, inovação, respeito <br>
            aos clientes, respeito à lei.
        </p>
        <p class="quem-somos-texto-desktop">
            Nós, a equipe Game Mania, acreditamos que nosso diferencial é a paixão pelo <br>
            mundo Gamer e tecnológico, sendo nós mesmos os primeiros consumidores <br>
            de nossos próprios produtos, o que nos ajuda a entender o que você procura. <br>
        </p>
        <p class="quem-somos-texto-desktop">
            Atendemos diariamente pessoas de todas as idades e com as mais diversas <br>
            demandas: acessórios, celulares, vídeo-games, jogos, computadores <br>
            prontos ou que podem ser montados de acordo com a sua escolha, seja para <br>
            estudo e trabalho seja para jogos, entre outras possibilidades. <br>
        </p>
        <p class="quem-somos-texto-desktop">
            Você pode encontrar o excelente feedback de nossos serviços e produtos <br>
            vindos de clientes nas nossas redes sociais, nas quais estamos sempre <br>
            dispostos a esclarecer as suas dúvidas, auxiliar escolhas dentro de nosso site <br> 
            e compartilhar nossa visão desse mundo virtual em expansão, rumo ao futuro. <br>
        </p>
        <img class="quem-somos-img-desktop" src="assets/img/quem-somos/Equipe Game Mania Desktop.png" alt="Equipe Game Mania">
    </div>

</section>


<!-- Tablet -->


<section class="quem-somos-tablet">
    <div class="container-grid quem-somos-caixa-tablet">
        <h1 class="quem-somos-titulo-tablet">quem somos</h1>
        <p class="quem-somos-texto-tablet">
            A nossa missão é inspirar e valorizar a paixão pela tecnologia, jogos, conteúdos, 
            entretenimento e inovação, causando uma emoção inédita, criando experiências 
            e prazeres. A visão da empresa é de ampliar o público-alvo e as nossas ações no 
            mundo gamer e tecnológico. Já os valores envolvem: ética, inovação, respeito aos 
            clientes, respeito à lei.
        </p>
        <p class="quem-somos-texto-tablet">
            Nós, a equipe Game Mania, acreditamos que nosso diferencial é a paixão pelo 
            mundo Gamer e tecnológico, sendo nós mesmo os primeiros consumidores 
            de nossos próprios produtos, o que nos ajuda a entender o que você procura. 
        </p>
        <p class="quem-somos-texto-tablet">
            Atendemos diariamente pessoas de todas as idades e com as mais diversas 
            demandas: acessórios, celulares, vídeo-games, jogos, computadores 
            prontos ou que podem ser montados de acordo com a sua escolha, seja para 
            estudo e trabalho seja para jogos, entre outras possibilidades. 
        </p>
        <p class="quem-somos-texto-tablet">
            Você pode encontrar o excelente feedback de nossos serviços e produtos 
            vindos de clientes nas nossas redes sociais, nas quais estamos sempre 
            dispostos a esclarecer as suas dúvidas, auxiliar escolhas dentro de nosso site 
            e compartilhar nossa visão desse mundo virtual em expansão, rumo ao futuro. 
        </p>
        <img class="quem-somos-img-tablet" src="assets/img/quem-somos/Equipe Game Mania Desktop.png" alt="Equipe Game Mania">
    </div>

</section>




<!-- Smartphone -->


<section class="quem-somos-smartphone">
    <div class="container-grid quem-somos-caixa-smartphone">
        <h1 class="quem-somos-titulo-smartphone">quem somos</h1>
        <p class="quem-somos-texto-smartphone">
            A nossa missão é inspirar e valorizar a paixão pela tecnologia, jogos, conteúdos,
            entretenimento e inovação, causando uma emoção inédita, criando experiências
            e prazeres. A visão da empresa é de ampliar o público-alvo e as nossas ações no
            mundo gamer e tecnológico. Já os valores envolvem: ética, inovação, respeito aos
            clientes e à lei.
        </p>
        <p class="quem-somos-texto-smartphone">
            Nós, a equipe Game Mania, acreditamos que nosso diferencial é a paixão pelo
            mundo Gamer e tecnológico, sendo nós mesmo os primeiros consumidores
            de nossos próprios produtos, o que nos ajuda a entender o que você procura.
        </p>
        <p class="quem-somos-texto-smartphone">
            Atendemos diariamente pessoas de todas as idades e com as mais diversas
            demandas: acessórios, celulares, vídeo-games, jogos, computadores
            prontos ou que podem ser montados de acordo com a sua escolha, seja para
            estudo e trabalho seja para jogos, entre outras possibilidades.
        </p>
        <p class="quem-somos-texto-smartphone">
            Você pode encontrar o excelente feedback de nossos serviços e produtos
            vindos de clientes nas nossas redes sociais, nas quais estamos sempre
            dispostos a esclarecer as suas dúvidas, auxiliar escolhas dentro de nosso site 
            e compartilhar nossa visão desse mundo em expansão, rumo ao futuro.
        </p>
        <img class="quem-somos-img-smartphone" src="assets/img/quem-somos/Equipe Game Mania Desktop.png" alt="Equipe Game Mania">
    </div>

</section>



