


<!-- -------------------------Perguntas Frequentes------------------------- -->


        <!-- Desktop -->


        <section class="duvidas-desktop">
            <div class="container-grid duvidas-caixa-desktop">
                <h1 class="duvidas-titulo-desktop">faq</h1>
                <div class="duvidas-lista-caixa-desktop">
                    <h1 class="duvidas-lista-titulo-desktop">Perguntas Frequentes</h1>
                    <div class="duvidas-lista-desktop">
                        <div class="duvidas-lista-bloco-desktop">
                            <p class="duvidas-lista-pergunta-desktop" id="pergunta1-desktop" onclick="mostrarResposta1Desktop()">
                                Quais são os produtos com os quais vocês trabalham?
                            </p>
                            <p class="duvidas-lista-resposta-desktop" id="resposta1-desktop">
                                Nós trabalhamos com diversas marcas de dispositivos móveis, notebooks, computadores, consoles 
                                e jogos em geral, além de acessórios e serviços relacionados aos itens citados. Como exemplo, 
                                montamos computadores de acordo com a sua demanda, personalizado com as suas preferências.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-desktop">
                            <p class="duvidas-lista-pergunta-desktop" id="pergunta2-desktop" onclick="mostrarResposta2Desktop()">
                                Vocês entregam para todo o Brasil?
                            </p>
                            <p class="duvidas-lista-resposta-desktop" id="resposta2-desktop">
                                Sim, entregamos para todo o Brasil, com frete grátis para a cidade de São Paulo.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-desktop">
                            <p class="duvidas-lista-pergunta-desktop" id="pergunta3-desktop" onclick="mostrarResposta3Desktop()">
                                Como funciona o frete e o seu preço?
                            </p>
                            <p class="duvidas-lista-resposta-desktop" id="resposta3-desktop">
                                Na hora da finalização do pedido, você pode escolher a forma de entrega de sua preferência. 
                                Com relação ao preço do frete, você pode calculá-lo durante a compra através do seu CEP 
                                para os tipos de entregas disponíveis.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-desktop">
                            <p class="duvidas-lista-pergunta-desktop" id="pergunta4-desktop" onclick="mostrarResposta4Desktop()">
                                Vocês aceitam quais cartões?
                            </p>
                            <p class="duvidas-lista-resposta-desktop" id="resposta4-desktop">
                                Nós aceitamos todas as bandeiras nacionais, podendo dividir o valor da compra em até dois cartões.
                            </p>
                        </div>

                        
                        <div class="duvidas-lista-bloco-desktop">
                            <p class="duvidas-lista-pergunta-desktop" id="pergunta5-desktop" onclick="mostrarResposta5Desktop()">
                                Vocês parcelam em até quantas vezes?
                            </p>
                            <p class="duvidas-lista-resposta-desktop" id="resposta5-desktop">
                                Nós parcelamos em até 10 vezes sem juros e em até 20 com juros.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-desktop">
                            <p class="duvidas-lista-pergunta-desktop" id="pergunta6-desktop" onclick="mostrarResposta6Desktop()">
                                Vocês possuem mais de uma loja física?
                            </p>
                            <p class="duvidas-lista-resposta-desktop" id="resposta6-desktop">
                                No momento, nós possuímos apenas uma loja localizada no endereço rua xxx xxxxxxx, número xxx, 
                                bairro xxxxxxx, cidade São Paulo. Nós estamos com projetos futuros para abrirmos filiais em 
                                outras cidades de São Paulo, assim como em outros estados.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-desktop">
                            <p class="duvidas-lista-pergunta-desktop" id="pergunta7-desktop" onclick="mostrarResposta7Desktop()">
                                Vocês aceitam Paypal?
                            </p>
                            <p class="duvidas-lista-resposta-desktop" id="resposta7-desktop">
                                No momento, não.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-desktop">
                            <p class="duvidas-lista-pergunta-desktop" id="pergunta8-desktop" onclick="mostrarResposta8Desktop()">
                                Como funciona a garantia de seus produtos/serviços?
                            </p>
                            <p class="duvidas-lista-resposta-desktop" id="resposta8-desktop">
                                Nós dispomos 1 ano de garantia para todos os produtos e serviços oferecidos que pode ser estendida 
                                para 2 anos, com o seu valor adicional variando de acordo com o produto/serviço em questão.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-desktop">
                            <p class="duvidas-lista-pergunta-desktop" id="pergunta9-desktop" onclick="mostrarResposta9Desktop()">
                                Qual é o horário de funcionamento da loja física?
                            </p>
                            <p class="duvidas-lista-resposta-desktop" id="resposta9-desktop">
                                Funcionamos todo dia, das 8h às 18h e nos feriados, das 8h às 12h.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-desktop">
                            <p class="duvidas-lista-pergunta-desktop" id="pergunta10-desktop" onclick="mostrarResposta10Desktop()">
                                Como funciona a política de reembolso?
                            </p>
                            <p class="duvidas-lista-resposta-desktop" id="resposta10-desktop">
                                Caso o produto comprado chegue em sua casa apresentando defeitos ou avarias, você tem 30 dias 
                                para pedir o dinheiro de volta. Você pode, também, optar por receber outro produto idêntico 
                                ao pedido, uma vez que você possui 1 ano de garantia para trocas a partir do ato da compra.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-desktop">
                            <p class="duvidas-lista-pergunta-desktop" id="pergunta11-desktop" onclick="mostrarResposta11Desktop()">
                                Como funciona os cupons da Game Mania?
                            </p>
                            <p class="duvidas-lista-resposta-desktop" id="resposta11-desktop">
                                Após alguma compra realizada pelo site, você receberá por email um cupom que te dará descontos, 
                                a depender do valor pago, para ser utilizado na sua próxima compra. Para utilizá-lo, antes de 
                                finalizar a sua próxima compra, insira o código do cupom na área solicitada. 
                            </p>
                        </div>

                        <p class="duvidas-lista-atendimento-desktop">
                            Ainda tem alguma dúvida? Para entrar em contato com nossa central de atendimento,
                            <a routerLink="/atendimento"> clique aqui</a> 
                        </p>
                        

                    </div>

                </div>

            </div>

        </section>


        <!-- Tablet -->



        <section class="duvidas-tablet">
            <div class="container-grid duvidas-caixa-tablet">
                <h1 class="duvidas-titulo-tablet">faq</h1>
                <div class="duvidas-lista-caixa-tablet">
                    <h1 class="duvidas-lista-titulo-tablet">Perguntas Frequentes</h1>
                    <div class="duvidas-lista-tablet">
                        <div class="duvidas-lista-bloco-tablet">
                            <p class="duvidas-lista-pergunta-tablet" id="pergunta1-tablet" onclick="mostrarResposta1Tablet()">
                                Quais são os produtos com os quais vocês trabalham?
                            </p>
                            <p class="duvidas-lista-resposta-tablet" id="resposta1-tablet">
                                Nós trabalhamos com diversas marcas de dispositivos móveis, notebooks, computadores, consoles 
                                e jogos em geral, além de acessórios e serviços relacionados aos itens citados. Como exemplo, 
                                montamos computadores de acordo com a sua demanda, personalizado com as suas preferências.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-tablet">
                            <p class="duvidas-lista-pergunta-tablet" id="pergunta2-tablet" onclick="mostrarResposta2Tablet()">
                                Vocês entregam para todo o Brasil?
                            </p>
                            <p class="duvidas-lista-resposta-tablet" id="resposta2-tablet">
                                Sim, entregamos para todo o Brasil, com frete grátis para a cidade de São Paulo.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-tablet">
                            <p class="duvidas-lista-pergunta-tablet" id="pergunta3-tablet" onclick="mostrarResposta3Tablet()">
                                Como funciona o frete e o seu preço?
                            </p>
                            <p class="duvidas-lista-resposta-tablet" id="resposta3-tablet">
                                Na hora da finalização do pedido, você pode escolher a forma de entrega de sua preferência. 
                                Com relação ao preço do frete, você pode calculá-lo durante a compra através do seu CEP 
                                para os tipos de entregas disponíveis.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-tablet">
                            <p class="duvidas-lista-pergunta-tablet" id="pergunta4-tablet" onclick="mostrarResposta4Tablet()">
                                Vocês aceitam quais cartões?
                            </p>
                            <p class="duvidas-lista-resposta-tablet" id="resposta4-tablet">
                                Nós aceitamos todas as bandeiras nacionais, podendo dividir o valor da compra em até dois cartões.
                            </p>
                        </div>

                        
                        <div class="duvidas-lista-bloco-tablet">
                            <p class="duvidas-lista-pergunta-tablet" id="pergunta5-tablet" onclick="mostrarResposta5Tablet()">
                                Vocês parcelam em até quantas vezes?
                            </p>
                            <p class="duvidas-lista-resposta-tablet" id="resposta5-tablet">
                                Nós parcelamos em até 10 vezes sem juros e em até 20 com juros.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-tablet">
                            <p class="duvidas-lista-pergunta-tablet" id="pergunta6-tablet" onclick="mostrarResposta6Tablet()">
                                Vocês possuem mais de uma loja física?
                            </p>
                            <p class="duvidas-lista-resposta-tablet" id="resposta6-tablet">
                                No momento, nós possuímos apenas uma loja localizada no endereço rua xxx xxxxxxx, número xxx, 
                                bairro xxxxxxx, cidade São Paulo. Nós estamos com projetos futuros para abrirmos filiais em 
                                outras cidades de São Paulo, assim como em outros estados.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-tablet">
                            <p class="duvidas-lista-pergunta-tablet" id="pergunta7-tablet" onclick="mostrarResposta7Tablet()">
                                Vocês aceitam Paypal?
                            </p>
                            <p class="duvidas-lista-resposta-tablet" id="resposta7-tablet">
                                No momento, não.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-tablet">
                            <p class="duvidas-lista-pergunta-tablet" id="pergunta8-tablet" onclick="mostrarResposta8Tablet()">
                                Como funciona a garantia de seus produtos/serviços?
                            </p>
                            <p class="duvidas-lista-resposta-tablet" id="resposta8-tablet">
                                Nós dispomos 1 ano de garantia para todos os produtos e serviços oferecidos que pode ser estendida 
                                para 2 anos, com o seu valor adicional variando de acordo com o produto/serviço em questão.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-tablet">
                            <p class="duvidas-lista-pergunta-tablet" id="pergunta9-tablet" onclick="mostrarResposta9Tablet()">
                                Qual é o horário de funcionamento da loja física?
                            </p>
                            <p class="duvidas-lista-resposta-tablet" id="resposta9-tablet">
                                Funcionamos todo dia, das 8h às 18h e nos feriados, das 8h às 12h.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-tablet">
                            <p class="duvidas-lista-pergunta-tablet" id="pergunta10-tablet" onclick="mostrarResposta10Tablet()">
                                Como funciona a política de reembolso?
                            </p>
                            <p class="duvidas-lista-resposta-tablet" id="resposta10-tablet">
                                Caso o produto comprado chegue em sua casa apresentando defeitos ou avarias, você tem 30 dias 
                                para pedir o dinheiro de volta. Você pode, também, optar por receber outro produto idêntico 
                                ao pedido, uma vez que você possui 1 ano de garantia para trocas a partir do ato da compra.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-tablet">
                            <p class="duvidas-lista-pergunta-tablet" id="pergunta11-tablet" onclick="mostrarResposta11Tablet()">
                                Como funciona os cupons da Game Mania?
                            </p>
                            <p class="duvidas-lista-resposta-tablet" id="resposta11-tablet">
                                Após alguma compra realizada pelo site, você receberá por email um cupom que te dará descontos, 
                                a depender do valor pago, para ser utilizado na sua próxima compra. Para utilizá-lo, antes de 
                                finalizar a sua próxima compra, insira o código do cupom na área solicitada. 
                            </p>
                        </div>

                        <p class="duvidas-lista-atendimento-tablet">
                            Ainda tem alguma dúvida? Para entrar em contato com nossa central de atendimento,
                            <a routerLink="/atendimento"> clique aqui</a> 
                        </p>
                        

                    </div>

                </div>

            </div>

        </section>






        <!-- Smartphone -->

        <section class="duvidas-smartphone">
            <div class="container-grid duvidas-caixa-smartphone">
                <h1 class="duvidas-titulo-smartphone">faq</h1>
                <div class="duvidas-lista-caixa-smartphone">
                    <h1 class="duvidas-lista-titulo-smartphone">Perguntas Frequentes</h1>
                    <div class="duvidas-lista-smartphone">
                        <div class="duvidas-lista-bloco-smartphone">
                            <p class="duvidas-lista-pergunta-smartphone" id="pergunta1-smartphone" onclick="mostrarResposta1Smartphone()">
                                Quais são os produtos com os quais vocês trabalham?
                            </p>
                            <p class="duvidas-lista-resposta-smartphone" id="resposta1-smartphone">
                                Nós trabalhamos com diversas marcas de dispositivos móveis, notebooks, computadores, consoles 
                                e jogos em geral, além de acessórios e serviços relacionados aos itens citados. Como exemplo, 
                                montamos computadores de acordo com a sua demanda, personalizado com as suas preferências.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-smartphone">
                            <p class="duvidas-lista-pergunta-smartphone" id="pergunta2-smartphone" onclick="mostrarResposta2Smartphone()">
                                Vocês entregam para todo o Brasil?
                            </p>
                            <p class="duvidas-lista-resposta-smartphone" id="resposta2-smartphone">
                                Sim, entregamos para todo o Brasil, com frete grátis para a cidade de São Paulo.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-smartphone">
                            <p class="duvidas-lista-pergunta-smartphone" id="pergunta3-smartphone" onclick="mostrarResposta3Smartphone()">
                                Como funciona o frete e o seu preço?
                            </p>
                            <p class="duvidas-lista-resposta-smartphone" id="resposta3-smartphone">
                                Na hora da finalização do pedido, você pode escolher a forma de entrega de sua preferência. 
                                Com relação ao preço do frete, você pode calculá-lo durante a compra através do seu CEP 
                                para os tipos de entregas disponíveis.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-smartphone">
                            <p class="duvidas-lista-pergunta-smartphone" id="pergunta4-smartphone" onclick="mostrarResposta4Smartphone()">
                                Vocês aceitam quais cartões?
                            </p>
                            <p class="duvidas-lista-resposta-smartphone" id="resposta4-smartphone">
                                Nós aceitamos todas as bandeiras nacionais, podendo dividir o valor da compra em até dois cartões.
                            </p>
                        </div>

                        
                        <div class="duvidas-lista-bloco-smartphone">
                            <p class="duvidas-lista-pergunta-smartphone" id="pergunta5-smartphone" onclick="mostrarResposta5Smartphone()">
                                Vocês parcelam em até quantas vezes?
                            </p>
                            <p class="duvidas-lista-resposta-smartphone" id="resposta5-smartphone">
                                Nós parcelamos em até 10 vezes sem juros e em até 20 com juros.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-smartphone">
                            <p class="duvidas-lista-pergunta-smartphone" id="pergunta6-smartphone" onclick="mostrarResposta6Smartphone()">
                                Vocês possuem mais de uma loja física?
                            </p>
                            <p class="duvidas-lista-resposta-smartphone" id="resposta6-smartphone">
                                No momento, nós possuímos apenas uma loja localizada no endereço rua xxx xxxxxxx, número xxx, 
                                bairro xxxxxxx, cidade São Paulo. Nós estamos com projetos futuros para abrirmos filiais em 
                                outras cidades de São Paulo, assim como em outros estados.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-smartphone">
                            <p class="duvidas-lista-pergunta-smartphone" id="pergunta7-smartphone" onclick="mostrarResposta7Smartphone()">
                                Vocês aceitam Paypal?
                            </p>
                            <p class="duvidas-lista-resposta-smartphone" id="resposta7-smartphone">
                                No momento, não.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-smartphone">
                            <p class="duvidas-lista-pergunta-smartphone" id="pergunta8-smartphone" onclick="mostrarResposta8Smartphone()">
                                Como funciona a garantia de seus produtos/serviços?
                            </p>
                            <p class="duvidas-lista-resposta-smartphone" id="resposta8-smartphone">
                                Nós dispomos 1 ano de garantia para todos os produtos e serviços oferecidos que pode ser estendida 
                                para 2 anos, com o seu valor adicional variando de acordo com o produto/serviço em questão.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-smartphone">
                            <p class="duvidas-lista-pergunta-smartphone" id="pergunta9-smartphone" onclick="mostrarResposta9Smartphone()">
                                Qual é o horário de funcionamento da loja física?
                            </p>
                            <p class="duvidas-lista-resposta-smartphone" id="resposta9-smartphone">
                                Funcionamos todo dia, das 8h às 18h e nos feriados, das 8h às 12h.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-smartphone">
                            <p class="duvidas-lista-pergunta-smartphone" id="pergunta10-smartphone" onclick="mostrarResposta10Smartphone()">
                                Como funciona a política de reembolso?
                            </p>
                            <p class="duvidas-lista-resposta-smartphone" id="resposta10-smartphone">
                                Caso o produto comprado chegue em sua casa apresentando defeitos ou avarias, você tem 30 dias 
                                para pedir o dinheiro de volta. Você pode, também, optar por receber outro produto idêntico 
                                ao pedido, uma vez que você possui 1 ano de garantia para trocas a partir do ato da compra.
                            </p>
                        </div>


                        <div class="duvidas-lista-bloco-smartphone">
                            <p class="duvidas-lista-pergunta-smartphone" id="pergunta11-smartphone" onclick="mostrarResposta11Smartphone()">
                                Como funciona os cupons da Game Mania?
                            </p>
                            <p class="duvidas-lista-resposta-smartphone" id="resposta11-smartphone">
                                Após alguma compra realizada pelo site, você receberá por email um cupom que te dará descontos, 
                                a depender do valor pago, para ser utilizado na sua próxima compra. Para utilizá-lo, antes de 
                                finalizar a sua próxima compra, insira o código do cupom na área solicitada. 
                            </p>
                        </div>

                        <p class="duvidas-lista-atendimento-smartphone">
                            Ainda tem alguma dúvida? Para entrar em contato com nossa central de atendimento,
                            <a href="atendimento.html"> clique aqui</a> 
                        </p>
                        

                    </div>

                </div>

            </div>

        </section>





        