<!-- -------------------------Atendimento------------------------- -->


        <!-- Desktop -->


        <section class="atendimento-desktop">
            <div class="container-grid atendimento-caixa-desktop">
                <h1 class="atendimento-titulo-desktop">atendimento</h1>
                <div class="atendimento-contatos-desktop">
                    <h2 class="atendimento-contatos-titulo-desktop">como podemos ajudar?</h2>
                    <p class="atendimento-contatos-item-desktop"> Envie-nos sua dúvida através do formulário abaixo, ou através de: </p>
                    <p class="atendimento-contatos-item-desktop">Email: (email@email.com);</p>
                    <p class="atendimento-contatos-item-desktop">Telefone: ((xx) xxxx-xxxx); </p>
                    <p class="atendimento-contatos-ultimo-item-desktop">WhatsApp: ((xx) xxxxx-xxxx).</p>
                    
                </div>

                <div class="atendimento-formulario-desktop">

                    <h1 class="atendimento-formulario-titulo-desktop">Fale conosco</h1>
                    <h2 class="atendimento-formulario-texto-desktop">Nossa equipe está sempre pronta para atender você.
                        Mande sua dúvida e entraremos em contato o mais rápido possível.</h2>

                    <form class="atendimento-form-desktop">
                        <div class="atendimento-form-caixa-desktop">
                            <label class="atendimente-form-label-desktop" for="nome">Nome Completo</label>
                            <input class="atendimento-nome-completo-desktop" type="text" name="nome" id="nome" 
                            placeholder="Digite seu nome aqui." required>
                        </div>

                        <div class="atendimento-form-caixa-desktop">
                            <label class="atendimente-form-label-desktop" for="email">Email</label>
                            <input class="atendimento-nome-completo-desktop" type="email" name="email" id="email" 
                            placeholder="Digite seu email aqui." required>
                        </div>

                        <div class="atendimento-form-caixa-desktop">
                            <label class="atendimente-form-label-desktop" for="cpf">CPF</label>
                            <input class="atendimento-nome-completo-desktop" type="number" name="cpf" id="cpf" 
                            placeholder="Digite seu CPF aqui." required>
                        </div>

                        <div class="atendimento-form-caixa-desktop">
                            <label class="atendimente-form-label-desktop" for="telefone">Telefone</label>
                            <input class="atendimento-nome-completo-desktop" type="tel" name="telefone" id="telefone" 
                            placeholder="Digite o celular aqui." required>
                        </div>  

                        <div class="atendimento-form-caixa-desktop">
                            <label class="atendimente-form-label-desktop" for="duvida">Dúvida</label>
                            <input class="atendimento-nome-completo-desktop atendimento-duvida-desktop" type="text" name="duvida" id="duvida" 
                            placeholder="Digite sua pergunta aqui." required>
                        </div>

                        <input type="submit" id="atendimento-formulario-enviar-desktop" value="Enviar">
                    </form>
                </div>

                <div class="atendimento-redes-sociais-desktop">
                    <h1 class="atendimento-redes-sociais-titulo-desktop">Redes Sociais</h1>
                    <h2 class="atendimento-redes-sociais-texto-desktop">Você pode nos contactar também através de nossas redes sociais:</h2>
                    <div class="row atendimento-redes-sociais-caixa-desktop">
                        <a class="col-2 atendimento-redes-sociais-links-desktop" href="">
                            <img class="atendimento-redes-sociais-img-desktop" src="/assets/img/atendimento/Facebook Redes Sociais Desktop.png" alt="Logo do Facebook">
                            <p class="atendimento-redes-sociais-descricao-desktop">Facebook</p>
                        </a>
                        <a class="col-2 atendimento-redes-sociais-links-desktop" href="">
                            <img class="atendimento-redes-sociais-img-desktop" src="/assets/img/atendimento/Instagram Redes Sociais Desktop.png" alt="Logo do Instagram">
                            <p class="atendimento-redes-sociais-descricao-desktop">Instagram</p>
                        </a>
                        <a class="col-2 atendimento-redes-sociais-links-desktop" href="">
                            <img class="atendimento-redes-sociais-img-desktop" src="/assets/img/atendimento/Youtube Redes Sociais Desktop.png" alt="Logo do Youtube">
                            <p class="atendimento-redes-sociais-descricao-desktop">Youtube</p>
                        </a>
                    </div>
                </div>
            </div>
            
        </section>


        <!-- Tablet -->

        <section class="atendimento-tablet">
            <div class="container-grid atendimento-caixa-tablet">
                <h1 class="atendimento-titulo-tablet">atendimento</h1>
                <div class="atendimento-contatos-tablet">
                    <h2 class="atendimento-contatos-titulo-tablet">como podemos ajudar?</h2>
                    <p class="atendimento-contatos-item-tablet"> Envie-nos sua dúvida através do formulário abaixo, ou através de: </p>
                    <p class="atendimento-contatos-item-tablet">Email: (email@email.com);</p>
                    <p class="atendimento-contatos-item-tablet">Telefone: ((xx) xxxx-xxxx); </p>
                    <p class="atendimento-contatos-ultimo-item-tablet">WhatsApp: ((xx) xxxxx-xxxx).</p>
                    
                </div>

                <div class="atendimento-formulario-tablet">

                    <h1 class="atendimento-formulario-titulo-tablet">Fale conosco</h1>
                    <h2 class="atendimento-formulario-texto-tablet">Nossa equipe está sempre pronta para atender você.
                        Mande sua dúvida e entraremos em contato o mais rápido possível.</h2>

                    <form class="atendimento-form-tablet">
                        <div class="atendimento-form-caixa-tablet">
                            <label class="atendimente-form-label-tablet" for="nome">Nome Completo</label>
                            <input class="atendimento-nome-completo-tablet" type="text" name="nome" id="nome" 
                            placeholder="Digite seu nome aqui." required>
                        </div>

                        <div class="atendimento-form-caixa-tablet">
                            <label class="atendimente-form-label-tablet" for="email">Email</label>
                            <input class="atendimento-nome-completo-tablet" type="email" name="email" id="email" 
                            placeholder="Digite seu email aqui." required>
                        </div>

                        <div class="atendimento-form-caixa-tablet">
                            <label class="atendimente-form-label-tablet" for="cpf">CPF</label>
                            <input class="atendimento-nome-completo-tablet" type="number" name="cpf" id="cpf" 
                            placeholder="Digite seu CPF aqui." required>
                        </div>

                        <div class="atendimento-form-caixa-tablet">
                            <label class="atendimente-form-label-tablet" for="telefone">Telefone</label>
                            <input class="atendimento-nome-completo-tablet" type="tel" name="telefone" id="telefone" 
                            placeholder="Digite o celular aqui." required>
                        </div>  

                        <div class="atendimento-form-caixa-tablet">
                            <label class="atendimente-form-label-tablet" for="duvida">Dúvida</label>
                            <input class="atendimento-nome-completo-tablet atendimento-duvida-tablet" type="text" name="duvida" id="duvida" 
                            placeholder="Digite sua pergunta aqui." required>
                        </div>

                        <input type="submit" id="atendimento-formulario-enviar-tablet" value="Enviar">
                    </form>
                </div>

                <div class="atendimento-redes-sociais-tablet">
                    <h1 class="atendimento-redes-sociais-titulo-tablet">Redes Sociais</h1>
                    <h2 class="atendimento-redes-sociais-texto-tablet">Você pode nos contactar também através de nossas redes sociais:</h2>
                    <div class="row atendimento-redes-sociais-caixa-tablet">
                        <a class="col-2 atendimento-redes-sociais-links-tablet" href="">
                            <img class="atendimento-redes-sociais-img-tablet" src="assets/img/atendimento/Facebook Redes Sociais Tablet.png" alt="">
                            <p class="atendimento-redes-sociais-descricao-tablet">Facebook</p>
                        </a>
                        <a class="col-2 atendimento-redes-sociais-links-tablet" href="">
                            <img class="atendimento-redes-sociais-img-tablet" src="assets/img/atendimento/Instagram Redes Sociais Tablet.png" alt="">
                            <p class="atendimento-redes-sociais-descricao-tablet">Instagram</p>
                        </a>
                        <a class="col-2 atendimento-redes-sociais-links-tablet" href="">
                            <img class="atendimento-redes-sociais-img-tablet" src="assets/img/atendimento/Youtube Redes Sociais Tablet.png" alt="">
                            <p class="atendimento-redes-sociais-descricao-tablet">Youtube</p>
                        </a>
                    </div>
                </div>
            </div>
            
        </section>


        <!-- Smartphone -->

        <section class="atendimento-smartphone">
            <div class="atendimento-caixa-smartphone">
                <h1 class="atendimento-titulo-smartphone">atendimento</h1>
                <div class="atendimento-contatos-smartphone">
                    <h2 class="atendimento-contatos-titulo-smartphone">como podemos ajudar?</h2>
                    <p class="atendimento-contatos-item-smartphone 
                    atendimento-contatos-texto-smartphone"> Envie-nos sua dúvida através do formulário abaixo, ou através de: </p>
                    <p class="atendimento-contatos-item-smartphone">Email: (email@email.com);</p>
                    <p class="atendimento-contatos-item-smartphone">Telefone: ((xx) xxxx-xxxx); </p>
                    <p class="atendimento-contatos-ultimo-item-smartphone">WhatsApp: ((xx) xxxxx-xxxx).</p>
                    
                </div>

                <div class="atendimento-formulario-smartphone">

                    <h1 class="atendimento-formulario-titulo-smartphone">Fale conosco</h1>
                    <h2 class="atendimento-formulario-texto-smartphone">Nossa equipe está sempre pronta para atender você.
                        Mande sua dúvida e entraremos em contato o mais rápido possível.</h2>

                    <form class="atendimento-form-smartphone">
                        <div class="atendimento-form-caixa-smartphone">
                            <label class="atendimente-form-label-smartphone" for="nome">Nome Completo</label>
                            <input class="atendimento-nome-completo-smartphone" type="text" name="nome" id="nome" 
                            placeholder="Digite seu nome aqui." required>
                        </div>

                        <div class="atendimento-form-caixa-smartphone">
                            <label class="atendimente-form-label-smartphone" for="email">Email</label>
                            <input class="atendimento-nome-completo-smartphone" type="email" name="email" id="email" 
                            placeholder="Digite seu email aqui." required>
                        </div>

                        <div class="atendimento-form-caixa-smartphone">
                            <label class="atendimente-form-label-smartphone" for="cpf">CPF</label>
                            <input class="atendimento-nome-completo-smartphone" type="number" name="cpf" id="cpf" 
                            placeholder="Digite seu CPF aqui." required>
                        </div>

                        <div class="atendimento-form-caixa-smartphone">
                            <label class="atendimente-form-label-smartphone" for="telefone">Telefone</label>
                            <input class="atendimento-nome-completo-smartphone" type="tel" name="telefone" id="telefone" 
                            placeholder="Digite o celular aqui." required>
                        </div>  

                        <div class="atendimento-form-caixa-smartphone">
                            <label class="atendimente-form-label-smartphone" for="duvida">Dúvida</label>
                            <input class="atendimento-nome-completo-smartphone atendimento-duvida-smartphone" type="text" name="duvida" id="duvida" 
                            placeholder="Digite sua pergunta aqui." required>
                        </div>

                        <input type="submit" id="atendimento-formulario-enviar-smartphone" value="Enviar">
                    </form>
                </div>

                <div class="atendimento-redes-sociais-smartphone">
                    <h1 class="atendimento-redes-sociais-titulo-smartphone">Redes Sociais</h1>
                    <h2 class="atendimento-redes-sociais-texto-smartphone">Você pode nos contactar também através de nossas redes sociais:</h2>
                    <div class="row atendimento-redes-sociais-caixa-smartphone">
                        <a class="col-2 atendimento-redes-sociais-links-smartphone" href="">
                            <img class="atendimento-redes-sociais-img-smartphone" src="assets/img/atendimento/Facebook Redes Sociais Tablet.png" alt="">
                            <p class="atendimento-redes-sociais-descricao-smartphone">Facebook</p>
                        </a>
                        <a class="col-2 atendimento-redes-sociais-links-smartphone" href="">
                            <img class="atendimento-redes-sociais-img-smartphone" src="assets/img/atendimento/Instagram Redes Sociais Tablet.png" alt="">
                            <p class="atendimento-redes-sociais-descricao-smartphone">Instagram</p>
                        </a>
                        <a class="col-2 atendimento-redes-sociais-links-smartphone" href="">
                            <img class="atendimento-redes-sociais-img-smartphone" src="assets/img/atendimento/Youtube Redes Sociais Tablet.png" alt="">
                            <p class="atendimento-redes-sociais-descricao-smartphone">Youtube</p>
                        </a>
                    </div>
                </div>
            </div>
            
        </section>
